MAINNET_OWNER_PK=

# Signer
SIGNER_PK=
SIGNER=0xBf4695B5E6126b7A33263466d65e3E47034e8c90

# Signer used for unit tests
SIGNER_PK_TEST=
SIGNER_TEST=0x56B637DD6eccc852501D9450a9da395044A826A8

# Cloudflare
TURNSTILE_SECRET=

# RPC URLs
BASE_MAINNET_URL=https://mainnet.base.org
BASE_SEPOLIA_URL=https://sepolia.base.org

# Etherscan
ETHERSCAN_API_KEY=
